<head>
  <title>A Portfolio of Tim Derksen</title>
</head>

<body>
  <header>
    <nav class="menu">
      <li>Welcome</li>
      <li>About</li>
      <li>Projects</li>
      <li>Blog</li>
      <li>Contact</li>
    </nav>
  </header>
  <main>
    <div class="Intro">
      <p>Hello. My name is Tim Derksen and I've developed <br/> these apps to work on my coding skills.</p>
      <button>View my Work</button>
    </div>
  </main>
  
  <footer>
    <img src="https://www.dropbox.com/s/od5w4uzk8gt4dj6/001-social.png?dl=0" id="Github">
    <img src="https://www.dropbox.com/s/ez3oa76apbo139o/002-linkedin-logo.png?dl=0" id="LinkedIn">
    <img src="https://www.dropbox.com/s/bgwg4ycw1qm75u8/003-twitter-logo-silhouette.png?dl=0" id="Twitter">
    <img src="https://www.dropbox.com/s/c70btxiejdiiljo/004-facebook-logo.png?dl=0" id="Facebook">
  </footer>
</body>
