// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li {
  display: inline-block;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: medium;
}

main {
  background-image: url("https://drive.google.com/file/d/1sUsiGqtkDvDADbw4oVKYPF-nGPL4HhUC/view?usp=sharing");
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 35px;
  position: relative;
  float: center;
  text-align: right;
  margin-right: 20px;
}

main button {
  font-weight: 500;
  font-size: .5em;
  position: relative;
  float: right;
  margin-top: .25em;
}

footer {
  display: inline-block;
  float: right;
}